<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Receta</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <h1>Eliminar receta</h1>
    <form id="form_eliminar">
        <label for="id_receta">ID de la receta:</label><br>
        <input type="text" id="id_receta" name="id_receta"><br><br>
        <input type="submit" value="Eliminar receta">
    </form>
    <a href="/">Regresar a la página principal</a>
</body>
</html>
