<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de Recetas</title>
</head>
<body>
    <h1>Aplicación de Recetas</h1>
    <nav>
        <ul>
            <li><a href="/agregar">Agregar nueva receta</a></li>
            <li><a href="/recetas">Ver listado de recetas</a></li>
            <li><a href="/buscar/ingredientes">Buscar recetas por ingredientes</a></li>
            <li><a href="/buscar/pasos">Buscar recetas por pasos</a></li>
        </ul>
    </nav>
</body>
</html>
